@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
  font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: cadetblue; 
}

body {
  /* background-image: url('/IMAGES/img1.png');
  background-repeat: no-repeat; */
  /* background-position: right top; */
  /* background-attachment: fixed; */
  /* background-attachment: scroll; */


  /* Below is short end property. */
  /* background: #ffffff url('/IMAGES/img1.png') no-repeat right top fixed; */
  
}

.text {
  font-weight: 500;

  /* border-style: dashed; */
  /* border-style: dotted; */
  /* border-style: solid; */
  /* border-style: double; */
  /* border-style: groove; */
  /* border-style: ridge; */
  /* border-style: inset; */
  /* border-style: outset; */
  /* border-style: hidden; */
  /* border-style: none; */

  border-style: solid;
  /* border-width: 2px; */
  /* border-width: thick; */
  /* border-width: thin; */
  /* border-width: medium; */

  /* First value is for top and bottom, and remaining is for left and right */
  /* border-width: 10px 25px;  */

  /* Top, right, bottom, left */
  /* border-width: 5px 1px 10px 20px;  */

  /* Top, right, bottom, left */
  /* border-color: chartreuse cornflowerblue red yellow; */

  /* border-left-style: dotted; */
  /* border-left: dashed; */
  /* border-right: solid thick greenyellow; */

  /* This is a short end property */
  /* border: 5px solid greenyellow; */

  /* How much border is rounded at the corners  */
  /* border-radius: 10px; */



  /* BOX MODEL = MBPC = Margin -> Border -> Padding -> Content */

  padding: 10px;
  margin: 10px;
 

  /* Outline */

  outline-style: dotted;
  /* outline-style: dashed; */
  /* outline-style: double; */
  /* outline-style: solid; */
  /* outline-style: groove; */
  /* outline-style: ridge; */
  /* outline-style: inset; */
  /* outline-style: outset; */
  /* outline-style: none; */
  /* outline-style: hidden; */

  /* Short end property */ 
  /* outline: cadetblue 5px solid; */

  outline-color: cadetblue;
  /* outline-width: medium; */
  outline-offset: 10px;



  /* Text */

  /* text-align: center; */
  /* text-align: left; */
  /* text-align: right; */
  /* text-align: justify; */
  /* text-align-last: center; */
  
  /* direction: ltr; */
  /* direction: rtl; */

  /* vertical-align: text-top; */
  /* vertical-align: text-bottom; */






  /* Text Decoration */

  /* text-decoration-line: line-through; */
  /* text-decoration-line: overline; */
  text-decoration-line: underline;
  /* text-decoration-line: overline underline; */
  /* text-decoration: none; */
  text-decoration-color: crimson;
  /* text-decoration-style: solid; */
  /* text-decoration-style: dashed; */
  /* text-decoration-style: dotted; */
  /* text-decoration-style: double; */
  /* text-decoration-style: wavy; */
  /* text-decoration-thickness: 1.2px; */

  /* Short end property */
  /* text-decoration: underline crimson solid 1.2px; */





  /* Text Transform */
  
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  /* text-transform: capitalize; */
  /* text-transform: none; */

  /* text-indent: 50px; */
  /* letter-spacing: 1.2px; */
  /* line-height: 1.6 */

  /* text-shadow: 2px 2px 2.5px chartreuse; */






  /* Font */

  /* font-style: normal; */
  /* font-style: italic; */
  /* font-style: oblique; */

  font-size: 20px;
}

.link {

  font-size: 25px;
  text-decoration: none;
  background-color: red;
  padding: 15px;
  text-align: center;
  color: white;
  border-radius: 10px;
}
a:link {
  /* color: red; */
}
a:visited {
  /* color: green; */
}
a:hover {
  /* color: hotpink;
  text-decoration: underline; */




  background-color: black;
  background-color: white;
  color: red;
}
a:active {
  /* color: blue; */
}




/* Lists */
ul.a {
  /* list-style-type: circle; */
  /* list-style-type: square; */
  /* list-style-type: disc; */
  /* list-style-type: none; */
  /* list-style-image: url('/IMAGES/Box-model.png'); */

  /* list-style-position: inside; */
  /* list-style-position: outside; */
  

  /* Short end */
  /* list-style: square inside url('/IMAGES/Box-model.png'); */


}

ol.b {
  list-style-type: upper-roman;
  /* list-style-type: lower-roman; */
  /* list-style-type: upper-alpha; */
  /* list-style-type: lower-alpha; */
  /* list-style-type: decimal; */
  /* list-style-type: none; */

  /* list-style-position: inside; */
  /* list-style-position: outside; */
}


/* Tables */

table, th, td {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}
table {
  /* width: 100%; */
  /* border-collapse: collapse; */

}
th {
  height: 50px;
  text-align: left;


  /* vertical-align: top; */
  /* vertical-align: bottom; */
  /* vertical-align: middle; */
  /* vertical-align: text-top; */
  /* vertical-align: text-bottom; */
  /* vertical-align: baseline; */
  /* vertical-align: sub; */
  /* vertical-align: super; */
  /* vertical-align: initial; */
}
td {
  font-weight: 700;
}